<div class="upper">
    <div class="CurrencyName">CurrencyName</div>
    <div class="Buttons">
        <button (click)="filterIsShown = true">Filter</button>
        <button (click)="createHidden = false">AddNewCurrency</button>
        <button (click)="settingsShown = true">Settings</button>
    </div>
</div>

<table class="my-table">
    <tr>
        <td [hidden]="!tableColumns.active">Active</td>
        <td [hidden]="!tableColumns.currencyId">CurrencyID</td>
        <td [hidden]="!tableColumns.country">Country</td>
        <td [hidden]="!tableColumns.currencyName">CurrencyName</td>
        <td [hidden]="!tableColumns.currencyCode">CurrencyCode</td>
        <td [hidden]="!tableColumns.currencySymbol">CurrencySymbol</td>
        <td [hidden]="!tableColumns.branch">Branch</td>
        <td [hidden]="!tableColumns.createdOn">Created on</td>
        <td [hidden]="!tableColumns.createdBy">Created by</td>
        <td [hidden]="!tableColumns.lastChanged">Last Changed</td>
        <td [hidden]="!tableColumns.lastChangedBy">Last changed by</td>
    </tr>
    <tr *ngFor="let currency of allCurrency">
        <td [hidden]="!tableColumns.active">{{currency.active}}</td>
        <td [hidden]="!tableColumns.currencyId">{{currency.currencyId}}</td>
        <td [hidden]="!tableColumns.country">{{currency.country}}</td>
        <td [hidden]="!tableColumns.currencyName">{{currency.currencyName}}</td>
        <td [hidden]="!tableColumns.currencyCode">{{currency.currencyCode}}</td>
        <td [hidden]="!tableColumns.currencySymbol">{{currency.currencySymbol}}</td>
        <td [hidden]="!tableColumns.branch">{{currency.branch}}</td>
        <td [hidden]="!tableColumns.createdOn">{{currency.createdOn}}</td>
        <td [hidden]="!tableColumns.createdBy">{{currency.createdBy}}</td>
        <td [hidden]="!tableColumns.lastChanged">{{currency.lastChanged}}</td>
        <td [hidden]="!tableColumns.lastChangedBy">{{currency.lastChangedBy}}</td>
        <button (click)="findOneToEdit(currency.currencyId)">Edit</button>
        <button (click)="delete(currency.currencyId)">Delete</button>
    </tr>

</table>


<div [hidden]="createHidden" class="form-container">
    <form class="my-form" #form="ngForm" (ngSubmit)="create(form)">
        <input ngModel type="text" id="currencyName" name="currencyName" placeholder="CurrencyName" required>

        <input ngModel type="text" id="currencyCode" name="currencyCode" placeholder="CurrencyCode" required>

        <input ngModel type="text" id="currencySymbol" name="currencySymbol" placeholder="CurrencySymbol" required>

        <select ngModel name="branch" id="branch" required>
            <option value="" disabled selected hidden>Branch</option>
            <option value="All">1.All</option>
            <option value="Plovdiv">2.Plovdiv</option>
            <option value="Varna">3.Varna</option>
            <option value="Pleven">4.Pleven</option>
        </select>
        <div class="check">
            <input checked ngModel name="active" id="checkbox" type="checkbox">
            <label for="checkbox">CurrencyStatusActive</label>
        </div>
        <div class="button-container">
            <button type="submit">Submit</button>
            <button (click)="createHidden = true" type="reset">Cancel</button>
        </div>
    </form>
</div>

<div [hidden]="editHidden" class="form-container">
    <form class="my-form" #editForm="ngForm" (ngSubmit)="edit(editForm)">
        <input ngModel type="text" id="currencyName" name="currencyName" placeholder="CurrencyName" required>

        <input ngModel type="text" id="currencyCode" name="currencyCode" placeholder="CurrencyCode" required>

        <input ngModel type="text" id="currencySymbol" name="currencySymbol" placeholder="CurrencySymbol" required>

        <select ngModel name="branch" id="branch" required>
            <option value="" disabled selected hidden>Branch</option>
            <option value="All">1.All</option>
            <option value="Plovdiv">2.Plovdiv</option>
            <option value="Varna">3.Varna</option>
            <option value="Pleven">4.Pleven</option>
        </select>
        <div class="check">
            <input ngModel name="active" id="checkbox" type="checkbox">
            <label for="checkbox">CurrencyStatusActive</label>
        </div>
        <div class="button-container">
            <button type="submit">Submit</button>
            <button (click)="editHidden = true" type="reset">Discard</button>
        </div>
    </form>
</div>

<div *ngIf="filterIsShown" class="filter-container">
    <form id="filterForm" #filterForm="ngForm" (ngSubmit)="filter(filterForm)">
        <label for="filterInput">Filter:</label>
        <input ngModel type="text" id="filterInput" name="filterInput" placeholder="Filter by currency code">
        <button type="submit">Filter</button>
        <button (click)="removeFilter()">Hide</button>
    </form>
</div>

<div *ngIf="settingsShown" class="checkbox-container">
    <form id="checkboxForm">
        <label  for="checkbox1"><input (click)="removeColumn('active')" checked type="checkbox" id="checkbox1" name="checkbox1"> Active</label>
        <label for="checkbox2"><input (click)="removeColumn('currencyId')" checked type="checkbox" id="checkbox2" name="checkbox2">CurrencyID</label>
        <label for="checkbox3"><input (click)="removeColumn('country')" checked type="checkbox" id="checkbox3" name="checkbox3">Country</label>
        <label for="checkbox4"><input (click)="removeColumn('currencyName')" checked type="checkbox" id="checkbox4" name="checkbox4">CurrencyName</label>
        <label for="checkbox5"><input (click)="removeColumn('currencyCode')" checked type="checkbox" id="checkbox5" name="checkbox5">CurrencyCode</label>
        <label for="checkbox6"><input (click)="removeColumn('currencySymbol')" checked type="checkbox" id="checkbox6" name="checkbox6">CurrencySymbol</label>
        <label for="checkbox7"><input (click)="removeColumn('branch')" checked type="checkbox" id="checkbox7" name="checkbox7">Branch</label>
        <label for="checkbox8"><input (click)="removeColumn('createdOn')" checked type="checkbox" id="checkbox8" name="checkbox8">Created on</label>
        <label for="checkbox9"><input (click)="removeColumn('createdBy')" checked type="checkbox" id="checkbox9" name="checkbox9">Created by</label>
        <label for="checkbox10"><input (click)="removeColumn('lastChanged')" checked type="checkbox" id="checkbox10" name="checkbox10">Last changed</label>
        <label for="checkbox11"><input (click)="removeColumn('lastChangedBy')" checked type="checkbox" id="checkbox11" name="checkbox11">Last changed by</label>
    </form>
    <button (click)="settingsShown = false">Hide</button>
</div>