<div class="upper">
    <div class="CurrencyName">CurrencyName</div>
    <div class="Buttons">
        <button>Filter</button>
        <button (click)="createHidden = false">AddNewCurrency</button>
        <button>Settings</button>
    </div>
</div>

<table class="my-table">
    <tr>
        <td>Active</td>
        <td>CurrencyID</td>
        <td>Country</td>
        <td>CurrencyName</td>
        <td>CurrencyCode</td>
        <td>CurrencySymbol</td>
        <td>Branch</td>
        <td>Created on</td>
        <td>Created by</td>
        <td>Last Changed</td>
        <td>Last changed by</td>
    </tr>
    <tr *ngFor="let currency of allCurrency">
        <td>{{currency.active}}</td>
        <td>{{currency.currencyId}}</td>
        <td>{{currency.country}}</td>
        <td>{{currency.currencyName}}</td>
        <td>{{currency.currencyCode}}</td>
        <td>{{currency.currencySymbol}}</td>
        <td>{{currency.branch}}</td>
        <td>{{currency.createdOn}}</td>
        <td>{{currency.createdBy}}</td>
        <td>{{currency.lastChanged}}</td>
        <td>{{currency.lastChangedBy}}</td>
        <button (click)="findOneToEdit(currency.currencyId)">Edit</button>
        <button (click)="delete(currency.currencyId)" >Delete</button>
    </tr>
</table>


<div [hidden]="createHidden" class="form-container">
    <form class="my-form" #form="ngForm" (ngSubmit)="create(form)">
        <input ngModel type="text" id="currencyName" name="currencyName" placeholder="CurrencyName" required>

        <input ngModel type="text" id="currencyCode" name="currencyCode" placeholder="CurrencyCode" required>

        <input ngModel type="text" id="currencySymbol" name="currencySymbol" placeholder="CurrencySymbol" required>

        <select ngModel name="branch" id="branch" required>
            <option value="" disabled selected hidden>Branch</option>
            <option value="All">1.All</option>
            <option value="Plovdiv">2.Plovdiv</option>
            <option value="Varna">3.Varna</option>
            <option value="Pleven">4.Pleven</option>
        </select>
        <div class="check">
            <input ngModel name="active" id="checkbox" type="checkbox">
            <label for="checkbox">CurrencyStatusActive</label>
        </div>
        <div class="button-container">
            <button type="submit">Submit</button>
            <button (click)="createHidden = true" type="reset">Cancel</button>
        </div>
    </form>
</div>

<div [hidden]="editHidden" class="form-container">
    <form class="my-form" #form="ngForm" (ngSubmit)="edit(form)">
        <input ngModel type="text" id="currencyName" name="currencyName" placeholder="CurrencyName" required>

        <input ngModel type="text" id="currencyCode" name="currencyCode" placeholder="CurrencyCode" required>

        <input ngModel type="text" id="currencySymbol" name="currencySymbol" placeholder="CurrencySymbol" required>

        <select ngModel name="branch" id="branch" required>
            <option value="" disabled selected hidden>Branch</option>
            <option value="All">1.All</option>
            <option value="Plovdiv">2.Plovdiv</option>
            <option value="Varna">3.Varna</option>
            <option value="Pleven">4.Pleven</option>
        </select>
        <div class="check">
            <input ngModel name="active" id="checkbox" type="checkbox">
            <label for="checkbox">CurrencyStatusActive</label>
        </div>
        <div class="button-container">
            <button type="submit">Edit</button>
            <button (click)="editHidden = true" type="reset">Discard</button>
        </div>
    </form>
</div>